$primary: #6f42c1;
$primary-overlay: rgba(111,66,193,0.6);
body{
  margin-top:75px;
}

.navbar{
  box-shadow:2px 2px 5px $primary;
  opacity:0.9;
  background:#000;

  .nav-item{
    font-size:1.4rem;
    padding-right:20px;
  }
}

#showcase {
  position: relative;
  background: url('../img/stars.jpg');
  min-height: 860px;
  background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  .primary-overlay {
    background: $primary-overlay;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

#experts {
  .text-muted1 {
    color: gray;
    font-size: 15px;
  }
  img {
    margin-top: -50px;
  }
  .fa {
    font-size: 25px;
  }

  .card:hover {
    background: $primary;
    color: #fff;

    .fa, .text-muted1 {
      color: #fff;
    }

  }
}
